body {
    background-color: #222;
}

.container-main {
    background-color: #fff;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 10px;
}

.header-main {
    margin: 1em 0 3em;
}
.header-main h1 {
    color: #444;
    text-align: center;
}

.handle {
    background: url("/images/YouIcon.png") no-repeat scroll 0 0 transparent;
    height: 32px;
    line-height: 32px;
    text-indent: 32px;
}
.handle-opponent {
    background: url("/images/OpponentIcon.png") no-repeat scroll 0 0 transparent;
}

.row-prompt textarea,
.game-input textarea {
    width: 95%;
    height: 10em;
}



.footer-main {
    margin: 2em 0 1em;
    text-align: center;
}